<div class="row">

	<div class="col-md-3">
		<div class="panel panel-default settings-menu">
			<div class="panel-heading">
				<h3 class="panel-title">{{ t('settings') }}</h3>
			</div>
			<ul class="list-group">
				{% for k, data in settings %}
				<li class="list-group-item">
					<i class="fa fa-{{ data.icon|default('cog') }}" aria-hidden="true"></i>
					<a href="{{ locations.account_url ~ t('slug.settings') }}/{{ t(data.slug, [], data.domain) }}">
						{{ t(data.label, [], data.domain) }}
					</a>
				</li>
	  			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="col-md-9">
		{{ section|raw }}
	</div>
</div>